<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward" />
    <link rel="stylesheet" href="css/html5reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>404 - Page Not Found</title>
</head>
<body>
    <div class="page-container">
        {% include header.html %}
        <main>
            <section class="error-container">
                <h1>Tis'but a Snag</h1>
                <h2>404: Page Not Found</h2>
                <p>
                It seems like the page you are looking for has been moved or archieved. <br>
                Worry not, hit the button below to get back to the homepage</p>
                <a href="index.html" class="primary-button">Return to Home</a>
            </section>
        </main>
        {% include footer.html %}
        </div>
</body>
</html>