---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward" />
        <link rel="stylesheet" href="css/html5reset.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Portfolio Building Guide</title>
    </head>
    <body>
        {% include header.html %}
        <main id="main-content">
            <section class = "banner-section bg-ntwrk">
                <div>
                    <h1>Networking and Connections at UMSI</h1>
                </div>
                <div>
                    <h2>Why Network<br>ing Matters</h2>
                </div>
                <div>
                    <p>
                        Networking is a crucial component of career development. Establishing and nurturing professional relationships can open doors to new opportunities, provide valuable insights, and support your growth in the field.<br>
                    </p>
                </div>
            </section>

            <section class="section_flex-column bg-teal">
                <div>
                    <h2 class="color-black">Quick Links</h2>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="#section-0" class = "subtitle spaced-between">Overview: What is Networking and Why should I do it?</a>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                        <li>
                            <a href="#section-1" class = "subtitle spaced-between">Step 1: Be Prepared</a>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                        <li>
                            <a href="#section-2" class = "subtitle spaced-between">Step 2: Reach Out</a>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                        <li>
                            <a href="#section-3" class = "subtitle spaced-between">Step 3: Have a Meaningful Conversation</a>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                        <li>
                            <a href="#section-4" class = "subtitle spaced-between">Step 4: Follow Through & Maintain A Professional Network</a>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                        <li>
                            <a href="#section-5" class = "subtitle spaced-between">Step 5: A Digital Presence</a>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </ul>
                </div>
            </section>

            <section id="section-0" class="section_heading-first flex-column bg-wavefield-green">
                <div>
                    <h2 class="color-blk">Overview: What is Networking and Why should I do it?</h2>
                </div>
                <div class="ntwrk-item">
                    <p>
                        Networking is the process of building and maintaining professional relationships that can support your career growth. It involves connecting with individuals in your field, learning from their experiences, and sharing your own journey. Effective networking can lead to job opportunities, mentorship, collaborations, and a deeper understanding of your industry. <br>
                        By building these relationships, you can gain access to exclusive opportunities, receive guidance from experienced professionals, and stay informed about industry trends.<br>
                    </p>
                </div>
                <div class="ntwrk-item">
                    <p class="subtitle">Here's are few places to reach out to:</p>
                    <ul>
                        <li><p><strong>Attend Events</strong><br> Participate in UMSI career fairs, workshops, and industry meetups to connect with professionals and peers.</p></li>
                        <li><p><strong>Leverage Alumni Networks</strong><br> Reach out to UMSI alumni for advice, mentorship, and potential job leads.</p></li>
                        <li><p><strong>Utilize Social Media</strong><br> Use platforms like LinkedIn to connect with industry professionals, join relevant groups, and share your work.</p></li>
                        <li><p><strong>Informational Interviews</strong><br> Request informational interviews to learn more about specific roles or companies and expand your network.</p></li>
                    </ul>
                </div>
            </section>

            <section id="section-1" class="section_heading-first flex-column bg-wavefield-green">
                <div>
                    <h3 class="color-blk">Step 1: Be Prepared</h3>
                </div>
                <div class="ntwrk-item">
                    <p>
                        Before you start networking, it's important to be prepared. This includes having a clear understanding of your goals, preparing an elevator pitch, and gathering relevant information about the professionals you want to connect with. Being prepared will help you make a strong impression and have meaningful conversations.<br>
                        <br>
                        <strong>Here are some Must-haves and Good-to-haves:</strong><br>
                    </p>
                </div>
                <div class="ntwrk-item">
                    <p class="subtitle">Must-haves:</p>
                    <ul>
                        <li><p>An Up-to-date Resume</p></li>
                        <li><p>A Well-Prepared Self-Introduction</p></li>
                        <li><p>Questions You're Curious About</p></li>
                        <li><p>Be Prepared to Share Your Work - Portfolio or Worksamples</p></li>
                    </ul>
                </div>
                <div class="ntwrk-item">
                    <p class="subtitle">Good-to-haves:</p>
                    <ul>
                        <li><p>Portfolio or work samples</p></li>
                        <li><p>Notes on industry trends or news</p></li>
                        <li><p>List of questions for informational interviews</p></li>
                    </ul>
                </div>
            </section>

            <section id="section-2" class="section_heading-first flex-column bg-wavefield-green">
                <h2 class="color-blk">Step 2: Reach Out</h2>
                <p class="ntwrk-item">
                    Once you're prepared, it's time to reach out to professionals in your field. This can be done through various channels such as LinkedIn, email, or attending events. The key is to be genuine and respectful of their time.
                </p>
                <div class="ntwrk-item">
                    <p class="subtitle">Here are some tips to keep in mind:</p>
                    <ul>
                        <li><p>Be clear and concise in your outreach messages.</p></li>
                        <li><p>Ask to chat, not a job.</p></li>
                        <li><p>Personalize your messages to show genuine interest.</p></li>
                        <li><p>Follow up appropriately without being pushy.</p></li>
                    </ul>
                </div>
            </section>

            <section id="section-3" class="section_heading-first flex-column bg-wavefield-green">
                <h2 class="color-blk">Step 3: Follow Up</h2>
                <p class="ntwrk-item">
                    After a successful conversation, it's important to follow up. This shows your interest and professionalism. A brief follow-up message can go a long way in building a relationship.
                </p>
                <div class="ntwrk-item">
                    <p class="subtitle">Here are a few ways to do it:</p>
                    <ul>
                        <li><p>Send a thank-you email expressing your appreciation for their time, also recapping key points from your conversation.</p></li>
                        <li><p>Mention any next steps you discussed, such as sending additional information or scheduling another meeting.</p></li>
                        <li><p>Connect on LinkedIn if you haven't, and send the follow-up message through that.</p></li>
                    </ul>
                </div>
            </section>

            <section id="section-4" class="section_heading-first flex-column bg-wavefield-green">
                <h2 class="color-blk">Step 4: Maintain Your Network</h2>
                <p class="ntwrk-item">
                    Networking is not a one-time activity; it's an ongoing process. Regularly engage with your contacts, share updates, and offer support when possible. Maintaining your network will ensure that you have a strong support system throughout your career.
                </p>
                <div class="ntwrk-item">
                    <p class="subtitle">Here are why it matters:</p>
                    <ul>
                        <li><p>It helps you stay connected with professionals in your field.</p></li>
                        <li><p>It allows you to learn about new opportunities and trends.</p></li>
                        <li><p>It builds trust and relationships that can last throughout your career.</p></li>
                    </ul>
                </div>
            </section>

            <section id="section-5" class="section_heading-first flex-column bg-wavefield-green">
                <h2 class="color-blk">Step 5: A Digital Presence</h2>
                <p class="ntwrk-item">
                    In this day and time, having a strong professional online presence is crucial as a new grad. This includes maintaining an updated LinkedIn profile, participating in relevant online communities & discussions, and showcasing your work through a personal website or portfolio.
                </p>
                <div class="ntwrk-item">
                    <p class="subtitle">The Benefits of a strong digital presence:</p>
                    <ul>
                        <li><p>It gives you exposure to potential employers and recruiters.</p></li>
                        <li><p>It allows you to showcase your skills and accomplishments.</p></li>
                        <li><p>It helps you connect with professionals globally.</p></li>
                    </ul>
                </div>
            </section>

            <section>
                <div class="ntwrk-page-resource"><h2>More Resources</h2></div>
                <div>
                    <ul class="ntwrk-page-resource-grid">
                        <li class="ntwrk-resource-item"><a href="https://docs.google.com/presentation/d/1R6azi49e7vd3ubRtdm33qG6Aq3bLBDBue7blM6pv49I/edit?usp=sharing" class="subtitle spaced-between">Intro to Making Conenctions</a>
                        <span class="material-symbols-outlined">arrow_forward</span></li>
                        <li class="ntwrk-resource-item"><a href="https://docs.google.com/document/d/1cwq2KtdKQbO-tICHKUyKRA3QY4_3VJ8NLC2kwPBY4dI/edit?usp=sharing" class="subtitle spaced-between">Networking Outreach Email Example</a>
                        <span class="material-symbols-outlined">arrow_forward</span></li>
                        <li class="ntwrk-resource-item grid-span2"><a href="https://docs.google.com/presentation/d/1QR0UA8V4d_hjHuayVbzF5_bx8d_8m3Ohvx9e5SiBodg/edit?usp=sharing" class="subtitle spaced-between">Informational Interviews Using the TIARA Method</a>
                        <span class="material-symbols-outlined">arrow_forward</span></li>
                    </ul>
                </div>
            </section>
        </main>
        {% include footer.html %}
    </body>
</html>