<footer>
  <img src="images/umsi-logo-vert-u.png" alt="UMSI Logo Suqared">
  <a class = "primary-button" href="https://www.si.umich.edu/about-umsi/contact-us">Contact Us</a>
  <p>University of Michigan School of Information | <a href="https://umich.instructure.com/courses/137916">UMSI Career Development Office </a></p>
  <p>
    School of Information, University of Michigan<br>
    2200 Hayward StreetAnn Arbor, MI 48109<br>
  </p>
  <p class = "copyright-text">© Copyrights <span id="year"></span> by UMSI. All rights reserved.</p>
  </footer>
  <script src="js/script.js"></script>
  <!-- ^^ The year display script link -->