<header>
      <div class = "header-frame">
        <a href = "#main-content" class = "skip-to-main subtitle">Skip to Main Content</a>
        <img src="images/logo-header.png" class = "umsi-logo" alt="UMSI Logo">
      </div>
        <nav>
            <ul>
                <li ><a href = "index.html" class = "nav-btn subtitle">Home</a></li>
                <li><a href = "resume.html" class = "nav-btn subtitle">Resumes</a></li>
                <li><a href = "network&connections.html" class = "nav-btn subtitle">Networking</a></li>
                <li><a href = "portfolio-showcase.html" class = "nav-btn subtitle">Portfolios</a></li>
            </ul>
        </nav>
    </header>